@font-face {
  font-family: "iconfont"; /* Project id 4595923 */
  src: url('//at.alicdn.com/t/c/font_4595923_9jri6ypci4s.woff2?t=1719142783216') format('woff2'),
       url('//at.alicdn.com/t/c/font_4595923_9jri6ypci4s.woff?t=1719142783216') format('woff'),
       url('//at.alicdn.com/t/c/font_4595923_9jri6ypci4s.ttf?t=1719142783216') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-douyin:before {
  content: "\e646";
}

.icon-wangyiyunyinle-copy:before {
  content: "\e600";
}

.icon-gitee:before {
  content: "\e60c";
}

.icon-bilibili-line:before {
  content: "\e66d";
}
